@{
    ViewData["Title"] = "About";
}
<link href="~/css/site.css" rel="stylesheet" />

<h1>About this Project</h1>

<p>
    I decided to start this project because I wanted to learn more about JavaScript, Vue.js, HTML, CSS, and Bootstrap while creating something I really care about, and making a quiz seemed like a great way do that. I love theatre and Broadway, so naturally I decided to make quizzes about that topic! My hope is that once people spend some time on my website they'll become more interested in the performing arts, and might be more inclined to see a show in their area.
</p>

<p>
    Please visit my <a target="_blank" href="https://sophbohr22.wixsite.com/sophiabohrportfolio">online porfolio</a> to learn more about my other projects!
</p>
