@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Me!</h1>

<h2>Sophia Bohr</h2>
<p><span class="glyphicon glyphicon-apple"></span>  Pursuing a <a target="_blank" href="http://guide.wisc.edu/undergraduate/letters-science/computer-sciences/computer-sciences-bs/">B.S. in Computer Science</a> at the University of Wisconsin-Madison</p>
<p><span class="glyphicon glyphicon-phone"></span>  Phone: 262-613-8118</p>
<p><span class="glyphicon glyphicon-envelope"></span>  Email: soph.bohr22@gmail.com</p>
<p><span class="glyphicon glyphicon-user"></span>  LinkedIn: <a target="_blank" href="https://www.linkedin.com/in/sophia-bohr/">www.linkedin.com/in/sophia-bohr</a></p>

<p>Link to Trello Board for this project: <a target="_blank" href="https://trello.com/b/rDtJxB5g/broadway-knowledge-test">Trello Board</a></p>
<p>Link to GitHub page for this project: <a target="_blank" href="https://github.com/sophbohr22/TestBroadwayKnowledge">GitHub</a></p>