@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Me!</h1>

<h2>Sophia Bohr</h2>
<p>Sophomore at University of Wisconsin-Madison</p>
<p>Phone: 262-613-8118</p>
<p>Email: soph.bohr22@gmail.com</p>

<p>Link to Trello Board for this project: <a href="https://trello.com/b/rDtJxB5g/broadway-knowledge-test">Trello Board</a></p>
<p>Link to GitHub page for this project: <a href="https://github.com/sophbohr22/TestBroadwayKnowledge">GitHub</a></p>