
@{
    ViewData["Title"] = "Sources";
}

<h1>Sources</h1>

<h2>Theatre Therapy Sources</h2>
<p><a target="_blank" href="https://broadway.showtickets.com/articles/10-most-iconic-broadway-theaters/">broadway.showtickets.com/articles/10-most-iconic-broadway-theaters</a></p>
<p><a target="_blank" href="https://www.wikipedia.org/">wikipedia.org</a></p>
<p><a target="_blank" href="https://blog.headout.com/18-facts-about-broadway-you-probably-didnt-already-know/">blog.headout.com/18-facts-about-broadway-you-probably-didnt-already-know</a></p>
<p><a target="_blank" href="http://www.playbill.com/">playbill.com</a></p>

