@{
    ViewData["Title"] = "Songs";
}
<link href="~/css/site.css" rel="stylesheet" />

<h1>Sort the Songs</h1>

<head>
    <style>
        #div1, #div2, #div3, #div4 {
            float: left;
            width: 15em;
            height: 5em;
            margin-left: 1em;
            margin-bottom: 0.8em;
            padding: 1em;
            border: 0.1em solid #2B7A78;
            text-align: center;
        }
        #start {
            float: left;
            width: 15em;
            height: 17em;
            margin: 1em;
            padding: 1em;
            border: 0.1em solid #2B7A78;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="row">
            <div class="col-md-12">
                <h1>dis be the quiz</h1>
                <button class="startButton btn btn-teal btn-md-size" v-on:click="startQuiz">Start Quiz!</button>
            </div>
        </div>
        <div class="row" id="entireQuiz" v-show="false">
            <h2>Drag and drop the songs so that they're in the correct order.</h2>
            <h3>Note: Only place one song per box!</h3>

            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div id="div1" class="1" ondrop="drop(event, this)" ondragover="allowDrop(event)">

                        </div>
                    </div>
                    <div class="row">
                        <div id="div2" class="2" ondrop="drop(event, this)" ondragover="allowDrop(event)">

                        </div>
                    </div>
                    <div class="row">
                        <div id="div3" class="3" ondrop="drop(event, this)" ondragover="allowDrop(event)">

                        </div>
                    </div>
                    <div class="row">
                        <div id="div4" class="4" ondrop="drop(event, this)" ondragover="allowDrop(event)">

                        </div>
                    </div>
                    <div>
                        <button class="btn btn-teal btn-check-size" v-on:click="checkDivs">Check!</button>
                        <p class="results"> {{feedback}} </p>

                    </div>
                </div>
                <div class="col-md-4">
                    <div id="start" ondrop="drop(event, this)" ondragover="allowDrop(event)">
                        <button draggable="true" ondragstart="drag(event)" id="option1" class="drag1 btn btn-sort-option" width="88" height="31"> Think of Me </button>
                        <button draggable="true" ondragstart="drag(event)" id="option2" class="drag2 btn btn-sort-option" width="88" height="31"> Phantom of the Opera </button>
                        <button draggable="true" ondragstart="drag(event)" id="option3" class="drag3 btn btn-sort-option" width="88" height="31"> All I Ask of You </button>
                        <button draggable="true" ondragstart="drag(event)" id="option4" class="drag4 btn btn-sort-option" width="88" height="31"> The Point of No Return </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://unpkg.com/vue"></script>
<script>
    new Vue({
        el: '#app',

        data: {
            correct: 0,
            feedback: "",
        },

        methods: {
            startQuiz: function () {

                $('#entireQuiz').show();
            },

            checkDivs: function () {
                if ($("#option1").parents("#div1").length == 1) {
                    this.correct++;
                }
                if ($("#option2").parents("#div2").length == 1) {
                    this.correct++;
                }
                if ($("#option3").parents("#div3").length == 1) {
                    this.correct++;
                }
                if ($("#option4").parents("#div4").length == 1) {
                    this.correct++;
                }
                
                if (this.correct == 4) {
                    this.feedback = "You got them in the correct order!"
                }
                else {
                    this.feedback = "Sorry, they're not quite right."
                }

                this.clickedCheck = true;

                var x = document.getElementsByClassName("btn-sort-option");
                var i;
                for (i = 0; i < x.length; i++) {
                    x[i].disabled = true;
                }

            },
        }
    });
</script>
<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev, el) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        el.appendChild(document.getElementById(data));

    }
</script>