@{
    ViewData["Title"] = "Songs";
}

<h1>Sort the Songs</h1>

<head>
    <style>
        #div1, #div2, #div3 {
            float: left;
            width: 10em;
            height: 4em;
            margin: 1em;
            padding: 1em;
            border: 0.1em solid black;
            text-align: center;
        }
        #start {
            float: left;
            width: 10em;
            height: 12em;
            margin: 1em;
            padding: 1em;
            border: 0.1em solid black;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <h2>Drag and Drop</h2>
        <p>Drag the image back and forth between the two div elements.</p>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div id="div1" class="1" ondrop="drop(event)" ondragover="allowDrop(event)">

                    </div>
                </div>
                <div class="row">
                    <div id="div2" class="2" ondrop="drop(event)" ondragover="allowDrop(event)">

                    </div>
                </div>
                <div class="row">
                    <div id="div3" class="3" ondrop="drop(event)" ondragover="allowDrop(event)">

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="start"  ondrop="drop(event)" ondragover="allowDrop(event)">
                    <p draggable="true" ondragstart="drag(event)" id="drag1" class="drag1" width="88" height="31"> Think of Me </p>
                    <p draggable="true" ondragstart="drag(event)" id="drag2" class="drag2" width="88" height="31"> Phantom of the Opera </p>
                    <p draggable="true" ondragstart="drag(event)" id="drag3" class="drag3" width="88" height="31"> All I Ask of You </p>
                </div>
            </div>
        </div>
        <button v-on:click="checkDivs">Check!</button>
        <p class="results"> {{feedback}} </p>
    </div>
</body>

<script src="https://unpkg.com/vue"></script>
<script>
    new Vue({
        el: '#app',

        data: {
            correct: 0,
            feedback: "",
        },

        methods: {
            checkDivs: function () {
                if ($(".drag1").parents("#div1").length == 1) {
                    this.correct++;
                }
                if ($(".drag2").parents("#div2").length == 1) {
                    this.correct++;
                }
                if ($(".drag3").parents("#div3").length == 1) {
                    this.correct++;
                }
                
                if (this.correct == 3) {
                    this.feedback = "You got them in the correct order!"
                }
                else {
                    this.feedback = "Sorry, they're not quite right."

                }
            },
        }
    });
</script>
<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>