@{
    ViewData["Title"] = "Songs";
}
<link href="~/css/site.css" rel="stylesheet" />
<div id="app">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ quiz.title }}</h1>
            <button class="startButton btn btn-teal btn-md-size" v-on:click="startQuiz">Start Quiz!</button>
        </div>
    </div>
    <div class="row" id="entireQuiz" v-show="false">
        <div class="col-md-12">
            <div v-for="(question, index) in quiz.questions">
                <div v-show="index === questionIndex">
                    <h3>{{ question.text }}</h3>
                    <p>Drag and drop the songs from the right to the boxes on the left so that they're in order (earlier songs at the top, later songs at the bottom). Don't put more than one song in a box, and you can always put songs back on the right if you change your mind about a spot!</p>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="row">
                                <div id="div1" class="1" ondrop="drop(event, this)" ondragover="allowDrop(event)">

                                </div>
                            </div>
                            <div class="row">
                                <div id="div2" class="2" ondrop="drop(event, this)" ondragover="allowDrop(event)">

                                </div>
                            </div>
                            <div class="row">
                                <div id="div3" class="3" ondrop="drop(event, this)" ondragover="allowDrop(event)">

                                </div>
                            </div>
                            <div class="row">
                                <div id="div4" class="4" ondrop="drop(event, this)" ondragover="allowDrop(event)">

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div id="start" ondrop="drop(event, this)" ondragover="allowDrop(event)">
                                <button draggable="true" ondragstart="drag(event)" v-bind:id="question.id1" class="btn btn-sort-option" width="88" height="31"> {{ question.text1 }} </button>
                                <button draggable="true" ondragstart="drag(event)" v-bind:id="question.id2" class="btn btn-sort-option" width="88" height="31"> {{ question.text2 }} </button>
                                <button draggable="true" ondragstart="drag(event)" v-bind:id="question.id3" class="btn btn-sort-option" width="88" height="31"> {{ question.text3 }} </button>
                                <button draggable="true" ondragstart="drag(event)" v-bind:id="question.id4" class="btn btn-sort-option" width="88" height="31"> {{ question.text4 }} </button>
                            </div>
                        </div>

                        <div>
                            <p class="rightResponse"> {{ question.rightAnswerFeedback }} </p>
                            <p class="wrongResponse"> {{ question.wrongAnswerFeedback }} </p>
                        </div>

                    </div>
                    <div class="row">
                        <button class="checkButton btn btn-teal btn-check-size" v-on:click="check(question.id1, question.id2, question.id3, question.id4)">Check!</button>
                    </div>

                    <div class="row">
                        <button class="nextButton btn btn-teal btn-sm-size" v-on:click="next(index)">next</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script>

    var quiz = {
        title: 'Sort the Songs!',
        questions: [
            {
                text: "Sort these songs from 'The Phantom of the Opera' so that they're in the correct order!",
                rightAnswerFeedback: "Correct! You got them all in the right order!",
                wrongAnswerFeedback: "Incorrect, the correct order is 'Think of Me', 'Phantom of the Opera', 'All I Ask of You', and 'The Point of No Return'.",
                text1: 'Think of Me',
                    id1: "phantom1",
                text2: 'Phantom of the Opera',
                    id2: "phantom2",
                text3: 'All I Ask of You',
                    id3: "phantom3",
                text4: 'The Point of No Return',
                    id4: "phantom4"
                
            },
            {
                text: "Sort these songs from 'Rent' so that they're in the correct order!",
                rightAnswerFeedback: "Correct! You got them all in the right order!",
                wrongAnswerFeedback: "Incorrect, the correct order is 'Rent', 'Will I?', 'La Vie Boheme', and 'What You Own'.",
                text1: 'Rent', id1: 'rent1',
                text2: 'Will I?', id2: 'rent2',
                text3: 'La Vie Boheme', id3: 'rent3',
                text4: 'What You Own', id4: 'rent4'
            }
        ]
    };

    new Vue({
        el: '#app',

        data: {
            quiz: quiz,
            correctAnswers: 0,
            questionIndex: 0,
            questionsCorrect: 0,
        },

        methods: {
            startQuiz: function () {
                $('.nextButton').hide();
                $('.startButton').hide();
                $('.rightResponse').hide();
                $('.wrongResponse').hide();

                $('#entireQuiz').show();
            },

            check: function (id1, id2, id3, id4) {
                $('.nextButton').show();
                $('.checkButton').hide();

                //gets all of the elements by the passed ids to later reference for correct location
                var element1 = document.getElementById(id1); 
                var element2 = document.getElementById(id2);
                var element3 = document.getElementById(id3);
                var element4 = document.getElementById(id4);

                //these if statements check whether the songs ended up in their correct div locations
                if ($(element1).parents("#div1").length == 1) {
                    this.correctAnswers++;
                }
                if ($(element2).parents("#div2").length == 1) {
                    this.correctAnswers++;
                }
                if ($(element3).parents("#div3").length == 1) {
                    this.correctAnswers++;
                }
                if ($(element4).parents("#div4").length == 1) {
                    this.correctAnswers++;
                }

                //if all four are correct, the right response is shown, otherwise wrong response is shown
                if (this.correctAnswers == 4) {
                    $('.rightResponse').show();
                    this.questionsCorrect++;
                }
                else {
                    $('.wrongResponse').show();
                }

                //all song options are disabled so that the user can't drag them anymore
                var x = document.getElementsByClassName("btn-sort-option");
                var i;
                for (i = 0; i < x.length; i++) {
                    x[i].disabled = true;
                }

                //decides which picture is shown
            },

            next: function (index) {
                $('.checkButton').show();
                $('.nextButton').hide();
                $('.rightResponse').hide();
                $('.wrongResponse').hide();

                this.correctAnswers = 0;
                

                this.questionIndex++;

                var x = document.getElementsByClassName("btn-sort-option");
                var i;
                for (i = 0; i < x.length; i++) {
                    x[i].disabled = false;
                }
            },

            displayResults: function (totalQuestions) {

            }
        }
    });
</script>
<script>
    function allowDrop(ev) {
        ev.preventDefault(); //prevents default setting of not allowing elements to be dropped into other elements
    }

    function drag(ev) {
        ev.dataTransfer.setData('button', ev.target.id); //sets data type and value of dragged data
    }

    function drop(ev, el) {
        ev.preventDefault(); //prevents default setting of not allowing elements to be dropped into other elements
        var data = ev.dataTransfer.getData('button'); //gets the dragged data and sets it to data
        el.appendChild(document.getElementById(data)); //puts the dragged element inside the box area
    }
</script>
