
@{
    ViewData["Title"] = "Theatres";
}

<h2>Theatres</h2>

<div id="app">
    <!-- Quiz title -->
    <h1>{{ quiz.title }}</h1>
    <button id="startButton" v-on:click="startQuiz">Start Quiz!</button>
    <div v-show=false id="entireQuiz">
        <div v-for="(question, index) in quiz.questions">
            <div v-show="index === questionIndex">
                <h2>{{ question.text }}</h2>
                <!--have hint show up and stay if their first choice is wrong-->
                <p>{{ question.hint }}</p>
                <div v-for="response in question.responses">
                    <input type="radio" class="radioButtons" v-bind:value="response.correct" v-bind:name="index" v-on:click="submitAnswer(response.correct)">{{ response.text }}
                </div>
            </div>
        </div>
        <div id="nextButton">
            <button v-on:click="next">next</button>
        </div>
        <div>
            <p>You got {{correctAnswers}} correct!</p>
        </div>
    </div>
</div>


<script src="https://unpkg.com/vue"></script>
<script>
    var quiz = {
        title: 'Theatres Quiz',
        questions: [
            {
                text: "Which of the following theatres is the oldest operating theatre on Broadway?",
                hint: "Hint: The correct theatre has been home to [title of show], Macbeth, and most recently, The Play That Goes Wrong",
                responses: [
                    { text: 'The Lyceum Theatre', correct: true },
                    { text: 'The Gershwin Theatre', correct: false },
                    { text: 'St. James Theatre', correct: false },
                    { text: 'Brooks Atkinson Theatre', correct: false },
                ],
            },
            {
                text: "Which of these theatres is NOT a Broadway theatre?",
                hint: "Hint: The theatre below that is not a Broadway theatre is located in Milwaukee",
                responses: [
                    { text: 'The Richard Rodgers Theatre', correct: false },
                    { text: 'The New Amsterdam Theatre', correct: false },
                    { text: 'The Pabst Theatre', correct: true },
                    { text: 'The Palace Theatre', correct: false }
                ]
            }
        ]
    };

    new Vue({
        el: '#app',

        data: {
            quiz: quiz,
            correctAnswers: 0,
            questionIndex: 0,
        },
        methods: {

            startQuiz: function () {
                $('#nextButton').hide();
                $('#entireQuiz').show();
                $('#startButton').hide();
            },

            submitAnswer: function (value) {
                $('#nextButton').show();

                if (value) {
                    this.correctAnswers++;
                }

                var x = document.getElementsByClassName("radioButtons");
                var i;
                for (i = 0; i < x.length; i++) {
                    x[i].disabled = true;
                }
            },

            next: function () {
                $('#nextButton').hide();
                this.questionIndex++;

                var x = document.getElementsByClassName("radioButtons");
                var i;
                for (i = 0; i < x.length; i++) {
                    x[i].disabled = false;
                }
                //this is where i record whether it's correct or not
            },
        }
    });
</script>

