
@{
    ViewData["Title"] = "Theatres";
}

<h2>Theatres</h2>

<div id="app">
    <!-- Quiz title -->
    <h1>{{ quiz.title }}</h1>
    <button id="startButton" v-on:click="startQuiz">Start Quiz!</button>
    <div v-show="false" id="entireQuiz">
        <div v-for="(question, index) in quiz.questions">
            <div v-show="index === questionIndex">
                <h2>{{ question.text }}</h2>

                <p>{{ question.hint }}</p>

                <div v-for="response in question.responses">
                    <input type="radio" class="radioButtons" v-bind:value="response.correct" v-bind:name="index" v-on:click="submitAnswer(response.correct)">{{ response.text }}
                </div>

                <p class="rightResponse"> {{question.rightAnswerFeedback}} </p>
                <p class="wrongResponse"> {{question.wrongAnswerFeedback}} </p>

            </div>
        </div>
        <div id="nextButton">
            <button v-on:click="next">next</button>
        </div>
        <div v-show="questionIndex === quiz.questions.length">
            <p>You got {{correctAnswers}} out of {{ quiz.questions.length }} correct!</p>
        </div>
    </div>
</div>


<script src="https://unpkg.com/vue"></script>
<script>
    var quiz = {
        title: 'Theatres Quiz',
        questions: [
            {
                text: "Which of the following theatres is the oldest operating theatre on Broadway?",
                hint: "Fun fact: This theatre has been home to [title of show], Macbeth, and most recently, The Play That Goes Wrong",
                rightAnswerFeedback: "Correct! You must be a big fan of landmark theatres. That's right, the Lyceum earned landmark status in 1974!",
                wrongAnswerFeedback: "Incorrect, the Lyceum is indeed the oldest operating theatre on Broadway, it even earned landmark status in 1974!",
                responses: [
                    { text: 'The Lyceum Theatre', correct: true },
                    { text: 'The Gershwin Theatre', correct: false },
                    { text: 'St. James Theatre', correct: false },
                    { text: 'Brooks Atkinson Theatre', correct: false },
                ],
            },
            {
                text: "Which of the following theatres is NOT a Broadway theatre?",
                hint: "Fun fact: This theatre isn't located in New York, but in Milwaukee!",
                rightAnswerFeedback: "Correct! Blah blah blah",
                wrongAnswerFeedback: "Incorrect, Blah blah blah",
                responses: [
                    { text: 'The Richard Rodgers Theatre', correct: false },
                    { text: 'The New Amsterdam Theatre', correct: false },
                    { text: 'The Pabst Theatre', correct: true },
                    { text: 'The Palace Theatre', correct: false }
                ]
            },
            {
                text: "The Gershwin Theatre has the largest capacity on Broadway. How many seats does it have?",
                hint: "Fun fact: The Gershwin has been home to the popular show Wicked since 2003! It is the 6th longest running Broadway production.",
                rightAnswerFeedback: "Correct! Bler bler bler",
                wrongAnswerFeedback: "Incorrect, Bler bler bler",
                responses: [
                    { text: '2,001', correct: false },
                    { text: '989', correct: false },
                    { text: '1,536', correct: false },
                    { text: '1,933', correct: true }
                ]
            }
        ]
    };

    new Vue({
        el: '#app',

        data: {
            quiz: quiz,
            correctAnswers: 0,
            questionIndex: 0,
        },

        methods: {
            startQuiz: function () {
                $('#nextButton').hide();
                $('#entireQuiz').show();
                $('#startButton').hide();
                $('.rightResponse').hide();
                $('.wrongResponse').hide();
            },

            submitAnswer: function (value) {
                $('#nextButton').show();

                if (value) {
                    this.correctAnswers++;
                    $('.rightResponse').show();
                }
                else {
                    $('.wrongResponse').show();
                }

                var x = document.getElementsByClassName("radioButtons");
                var i;
                for (i = 0; i < x.length; i++) {
                    x[i].disabled = true;
                }
            },

            next: function () {
                $('#nextButton').hide();
                $('.rightResponse').hide();
                $('.wrongResponse').hide();

                this.questionIndex++;

                var x = document.getElementsByClassName("radioButtons");
                var i;
                for (i = 0; i < x.length; i++) {
                    x[i].disabled = false;
                }
            },
        }
    });
</script>

