
@{
    ViewData["Title"] = "Theatres";
}

<h2>Theatres</h2>

<div id="app">
    <!-- Quiz title -->
    <h1>{{ quiz.title }}</h1>
    <!-- Questions: display a div for each question -->
    <div v-for="(question, index) in quiz.questions">
        <h2>{{ question.text }}</h2>
        <!-- Responses: display a li for each possible response with a radio button -->
        <p v-for="response in question.responses">
            <button v-bind:name="index" v-on:click="submitAnswer(response.correct)">{{response.text}}</button>
        </p>
    </div>
    <div>
        <p>You got {{correctAnswers}} correct!</p>
    </div>
</div>


<script src="https://unpkg.com/vue"></script>
<script>
    var quiz = {
        title: 'Theatres Quiz',
        questions: [
            {
                text: "Which of the following theatres is the oldest operating theatre on Broadway?",
                responses: [
                    { text: 'The Lyceum Theatre', correct: true },
                    { text: 'The Gershwin Theatre', correct: false },
                    { text: 'St. James Theatre', correct: false },
                    { text: 'Brooks Atkinson Theatre', correct: false }
                ]
            },
            {
                text: "Which of these theatres is NOT a Broadway theatre?",
                responses: [
                    { text: 'The Richard Rodgers Theatre', correct: false },
                    { text: 'The New Amsterdam Theatre', correct: false },
                    { text: 'The Pabst Theatre', correct: true },
                    { text: 'The Palace Theatre', correct: false }
                ]
            }
        ]
    };

    new Vue({
        el: '#app',
        data: {
            quiz: quiz,
            correctAnswers: 0,
            questionIndex: 0
        },
        methods: {
            submitAnswer: function (value) {
                if (value) {
                    this.correctAnswers++;
                }
                else {
                    this.correctAnswers--;
                }
            }
        }
    });
</script>

