
@{
    ViewData["Title"] = "Theatres";
}
<link href="~/css/site.css" rel="stylesheet" />
<div id="app">
    <!-- Quiz title -->
    <h1>{{ quiz.title }}</h1>
    <button class="btn" id="startButton" v-on:click="startQuiz">Start Quiz!</button>
    <div v-show="false" id="entireQuiz">
        <div v-for="(question, index) in quiz.questions">
            <div v-show="index === questionIndex">
                <h3>{{ question.text }}</h3>
                <p>{{ question.hint }}</p>

                <div v-for="response in question.responses">
                    <input type="radio" class="radioButtons" v-bind:value="response.correct" v-bind:name="index" v-on:click="submitAnswer(response.correct)">{{ response.text }}
                </div>

                <p class="rightResponse"> {{question.rightAnswerFeedback}} </p>
                <p class="wrongResponse"> {{question.wrongAnswerFeedback}} </p>

            </div>
        </div>
        <div>
            <button class="btn" id="nextButton" v-on:click="next">next</button>
        </div>
        <div v-show="questionIndex === quiz.questions.length">
            <p>You got {{correctAnswers}} out of {{ quiz.questions.length }} correct!</p>
        </div>
    </div>
</div>


<script src="https://unpkg.com/vue"></script>
<script>
    var quiz = {
        title: 'Theatre Therapy',
        questions: [
            {
                text: "Which of the following theatres is the oldest operating theatre on Broadway?",
                hint: "Fun fact: This theatre has been home to [title of show], Macbeth, and most recently, The Play That Goes Wrong",
                rightAnswerFeedback: "Correct! You must be a big fan of landmark theatres. That's right, the Lyceum earned landmark status in 1974!",
                wrongAnswerFeedback: "Incorrect, the Lyceum Theatre is indeed the oldest operating theatre on Broadway, it even earned landmark status in 1974!",
                responses: [
                    { text: 'The Lyceum Theatre', correct: true },
                    { text: 'The Gershwin Theatre', correct: false },
                    { text: 'The St. James Theatre', correct: false },
                    { text: 'The Brooks Atkinson Theatre', correct: false }
                ],
            },
            {
                text: "Which of the following theatres is NOT a Broadway theatre?",
                hint: "Fun fact: This theatre isn't located in New York, but in Milwaukee!",
                rightAnswerFeedback: "Correct! You must see theatre all around the country!",
                wrongAnswerFeedback: "Incorrect, all of the above theatres are Broadway theatres except the Pabst Theatre!",
                responses: [
                    { text: 'The Richard Rodgers Theatre', correct: false },
                    { text: 'The New Amsterdam Theatre', correct: false },
                    { text: 'The Pabst Theatre', correct: true },
                    { text: 'The Palace Theatre', correct: false }
                ]
            },
            {
                text: "The Gershwin Theatre has the largest capacity on Broadway. How many seats does it have?",
                hint: "Fun fact: The Gershwin has been home to the popular show Wicked since 2003! It is the 6th longest running Broadway production.",
                rightAnswerFeedback: "Correct! Wow did you count the seats last time you saw Wicked? Maybe all those seats have helped it earn over 1 billion dollars!",
                wrongAnswerFeedback: "Incorrect, there are in fact 1,933 seats in the Gershwin. Maybe all those seats have helped it earn over 1 billion dollars!",
                responses: [
                    { text: '2,001', correct: false },
                    { text: '989', correct: false },
                    { text: '1,536', correct: false },
                    { text: '1,933', correct: true }
                ]
            },
            {
                text: "The Phantom of the Opera is the longest running show on Broadway. Which theatre is it in?",
                hint: "Fun fact: Each actor cast as The Phantom has a mask custom-made from a mold of his face!",
                rightAnswerFeedback: "Correct! Your Phantom knowledge is 'Phantastic'!",
                wrongAnswerFeedback: "Incorrect, the Majestic Theatre has been home to The Phantom of the Opera since 1988!",
                responses: [
                    { text: 'The Brooks Atkinson Theatre', correct: false },
                    { text: 'The Majestic Theatre', correct: true },
                    { text: 'The Minskoff Theatre', correct: false },
                    { text: 'The August Wilson Theatre', correct: false }
                ]
            },
            {
                text: "In which theatre have the shows 'Dear Evan Hansen' and 'Shuffle Along' been in?",
                hint: "Fun fact: Dear Evan Hansen was nominated for 9 Tony awards and took home 6, while Shuffle Along was nominated for 10 and took home none.",
                rightAnswerFeedback: "Correct! You have been found with the right answer! Now shuffle along to the next one!",
                wrongAnswerFeedback: "Incorrect, it is the Music Box Theatre! Now shuffle along to the next question and try again!",
                responses: [
                    { text: 'The Music Box Theatre', correct: true },
                    { text: 'The Richard Rodgers Theatre', correct: false },
                    { text: 'The Walter Kerr Theatre', correct: false },
                    { text: 'Studio 54', correct: false }
                ]
            },
            {
                text: "Which theatre has been home to 'Once on This Island' and 'Fun Home' due to it being a beautiful theatre in the round?",
                hint: "Fun fact: 'Fun Home' won the Tony award for best musical in 2015 and 'Once on This Island' won the Tony award for best revival in 2018!",
                rightAnswerFeedback: "Correct! You've really been a-'round' a lot of theatres!",
                wrongAnswerFeedback: "Incorrect, it is in fact The Circle in the Square Theatre. Maybe go study up on some geometry.",
                responses: [
                    { text: 'The Ethel Barrymore Theatre', correct: false },
                    { text: 'The Circle in the Square Theatre', correct: true },
                    { text: 'Studio 54', correct: false },
                    { text: 'The Belasco Theatre', correct: false }
                ]
            },
        ]
    };

    new Vue({
        el: '#app',

        data: {
            quiz: quiz,
            correctAnswers: 0,
            questionIndex: 0,
        },

        methods: {
            startQuiz: function () {
                $('#nextButton').hide();
                $('#entireQuiz').show();
                $('#startButton').hide();
                $('.rightResponse').hide();
                $('.wrongResponse').hide();
            },

            submitAnswer: function (value) {
                $('#nextButton').show();

                if (value) {
                    this.correctAnswers++;
                    $('.rightResponse').show();
                }
                else {
                    $('.wrongResponse').show();
                }

                var x = document.getElementsByClassName("radioButtons");
                var i;
                for (i = 0; i < x.length; i++) {
                    x[i].disabled = true;
                }
            },

            next: function () {
                $('#nextButton').hide();
                $('.rightResponse').hide();
                $('.wrongResponse').hide();

                this.questionIndex++;

                var x = document.getElementsByClassName("radioButtons");
                var i;
                for (i = 0; i < x.length; i++) {
                    x[i].disabled = false;
                }
            },
        }
    });
</script>

