
/**
    Colors & Fonts Used:
    Black: #17252A,
    Dark Teal: #2B7A78,
    Light Teal: #3AAFA9,
    Faint Teal: #DEF2F1,
    White: #FEFFFF

    font-family: 'Raleway', sans-serif;
    font-family: 'Slabo 27px', serif;
    font-family: 'Noto Serif', serif;
*/

body {
    padding-top: 4.5em;
    padding-bottom: 1.5em;
    font-family: 'Noto Serif', serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 1.25em;
    padding-right: 1.25em;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #2B7A78;
}

h2 {
    font-family: 'Slabo 27px', serif;
    color: #3AAFA9;
}

h3 {
    font-family: 'Slabo 27px', serif;
    color: #17252A;
}

p {
    font-family: 'Noto Serif', serif;
    color: #17252A;
}

.col-options {
    align-content: center !important;
    text-align: center !important;
}

input[type="radio"] {
    margin: .5em;
}

.btn {
    border: 0.1em solid;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1.5em;
}

.btn-teal {
    color: #3AAFA9;
    background-color: #DEF2F1;
    border-color: #3AAFA9;
}

.btn-teal:hover {
    color: #DEF2F1;
    background-color: #3AAFA9;
    border-color: #DEF2F1;
}

.btn-sort-option {
    color: #3AAFA9;
    background-color: #DEF2F1;
    border-color: #3AAFA9;
}

.btn-sort-option:hover {
    color: #3AAFA9;
    background-color: #DEF2F1;
    border-color: #3AAFA9;
}

.btn-lg-size {
    font-size: large;
    width: 20em;
    margin: 1em;
    padding: 1em;
}

.btn-md-size {
    font-size: large;
}

.btn-sm-size {
    width: 6em;
}

.checkButton {
    width: 18em;
}

.radioButtons {
    font-family: 'Noto Serif', serif;
    font-size: medium;
}

.rightResponse {
    color: #009933;
}

.wrongResponse {
    color: #E60000;
}

img {
    margin-bottom: 0.5em;
    width: 100%;
}

nav {
    border-color: #2B7A78 !important;
    background-color: #2B7A78 !important;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: medium;
    padding-right: 1.5em;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #3AAFA9;
}

.margin-left-space {
    margin-left: 1em;
}

ul {
    margin-bottom: 2em;
}

#div1, #div2, #div3, #div4, #div5 {
    float: left;
    width: 18em;
    height: 5em;
    margin-left: 1em;
    margin-bottom: 0.8em;
    padding: 1em;
    border: 0.1em solid #2B7A78;
    text-align: center;
}

#start {
    float: left;
    width: 18em;
    height: 23em;
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border: 0.1em solid #2B7A78;
    text-align: center;
}
