
/**
    Colors & Fonts Used:
    Light Teal: #6BC4A8,
    Dark Teal: #4FA58C,
    Light Red: #DF3142,
    Red/Pink: #B1384D,
    Dark Red: #97191C

    font-family: 'Raleway', sans-serif;
    font-family: 'Slabo 27px', serif;
    font-family: 'Noto Serif', serif;
*/

body {
    
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #45A58C;
}

h3 {
    font-family: 'Slabo 27px', serif;
    color: #B1384D;
}

p {
    font-family: 'Noto Serif', serif;
    color: black;
}

.btn {
    border-style: solid;
    padding: 12px 28px;
}

#startButton {
    color: white;
    background-color: #4FA58C;
}

#startButton:hover {
    color: #4FA58C;
    background-color: white;
    border-color: #45A58C;
}

#nextButton {
    color: white;
    background-color: #B1384D;
}

#nextButton:hover {
    color: #B1384D;
    background-color: white;
    border-color: #B1384D;
}

.rightResponse {
    color: #009933;
}

.wrongResponse {
    color: #E60000;
}